@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shadows+Into+Light+Two&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green1: #4b761f;
  --redError: #fe0404;
  --yellowWarm: #fbbc05;
  --colorFond: #dcdce075;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--colorFond);
}

button-action {
  width: 80%;
  max-width: 16rem;
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./img/Group3.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.head-home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42vw;
  width: 100%;
}

div.head-home h1 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 2rem;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 4px;
}

div.head-home img:first-child {
  width: 45%;
}

.btn-container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  z-index: 10;
  width: 100%;
}

div.btn-container-home button-action {
  margin-bottom: 1rem;
}

div.btn-container-home > img {
  display: none;
}

.img-home {
  position: absolute;
  top: 135px;
  right: 0;
  z-index: 1;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div.container-form input-group,
input-password {
  width: 15rem;
  margin-inline: auto;
}

div.container-form button-view {
  margin-top: 1rem;
}

.register-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52.7px;
}

section.register-login-container > img {
  display: none;
}

section.register-login-container h2 {
  color: var(--green1);
  margin: 2rem 0;
}

section.register-login-container button-action {
  margin: 1rem 0 2rem 0;
}

section.register-login-container a {
  margin: 1rem 0;
}

.resetpass-container {
  display: flex;
  justify-content: center;
}

section.resetpass-container h2 {
  color: var(--green1);
  margin-top: 4rem;
}

section.resetpass-container input-password  {
  margin: 2rem 0 1.5rem 0;
}

notification-toast > img {
  margin: 1rem;
}

.section-setting {
  margin: 52.7px 0 0 0;
  display: flex;
}

.menu-settings {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  padding: 1rem 1rem;
}

.container-options {
  display: grid;
  grid-template: repeat(3, 1fr) / 0.5fr 3fr;
  grid-row-gap: 4px;
  align-items: center;
  margin-top: 1rem;
}

.container-message {
  display: none;
}

div.container-options img {
  width: 40px;
}

div.menu-settings h1 {
  color: var(--green1);
  font-weight: 600;
}

.section-timeline {
  margin: 52.7px 0 0 0;
}

.section-timeline-profile {
  margin: 52.7px 0 50px 0;
}

.sitie-construction{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--green1);
}

.sitie-construction img{
  width: 80%;
  max-width: 500px;
}
.container-posts {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 20px;
  justify-content: center;
  margin: auto;
  width: 85%;
  padding: 1rem 0 0 0;
}

.panel-img {
  display: none;
}

.info-container{
  margin: 53px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.info-container h2{
  text-align: center;
  color: var(--green1);
  margin: 2rem 0;
}

section.info-container p{
  text-align: center;
  color: #333;
  max-width: 400px;
}

.container-about{
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-dev{
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.container-dev div{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-items: center;
  grid-template-areas:
    "img button-view button-view";
  font-size: 2rem;
  margin-bottom: 1rem;
  
}

div.container-dev img{
  width: 100px;
  border: solid 1px #c4c4c4;
  filter:drop-shadow(0 12px 24px rgba(0,0,0,.35));
  border-radius: 50px;
  margin-right: 1rem;
  grid-area: img;
}

div.container-dev button-view{
  grid-area: button-view;
  width: 100%
}

.container-404{
  color: #4b761f;
  text-align: center;
}

.container-404 img{
  width: 70%;
  max-width: 400px;
  margin-top: 80px;
}

.none{
  display: none;
}



@media screen and (min-width: 540px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    background-image: url(./img/fondo_d.svg);
  }

  .img-home {
    display: none;
  }

  .head-home {
    margin-top: 0;
    width: 50%;
  }

  .btn-container-home {
    position: relative;
    margin-bottom: 0;
    width: 50%;
    justify-content: center;
  }

  div.btn-container-home > img {
    position: absolute;
    display: block;
  }

  .img-home1 {
    bottom: 0px;
    right: 0;
    width: 10rem;
  }

  .img-home2 {
    bottom: 0px;
    left: 0;
    width: 5rem;
  }

  .img-home3 {
    top: 0;
    right: 0;
    width: 5rem;
  }

  .img-home4 {
    top: 0;
    left: 0;
    width: 5rem;
  }

  .divider {
    border: solid 1px;
    border-color: var(--green1);
    width: 80%;
    margin-bottom: 2rem;
  }

  .register-login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  section.register-login-container > img {
    display: inline-block;
    width: 50%;
  }

  .container-form {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  div.head-home img:first-child {
    width: 30%;
  }

  .img-home1 {
    bottom: 0px;
    right: 0;
    width: 13rem;
  }

  .img-home2 {
    bottom: 0px;
    left: 0;
    width: 8rem;
  }

  .img-home3 {
    top: 0;
    right: 0;
    width: 8rem;
  }

  .img-home4 {
    top: 0;
    left: 0;
    width: 8rem;
  }

  .section-setting {
    margin: 60px 0 0 107.5px;
    align-items: center;
  }

  .container-message {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 50%;
  }

  .container-message img {
    width: 100%;
    max-width: 350px;
    max-height: 250px;
  }

  .container-message div {
    border: solid 1px;
    border-color: var(--green1);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    margin-top: 3rem;
    color: var(--green1);
  }

  .menu-settings {
    width: 40%;
  }

  .section-timeline-profile {
    margin: 52.7px 300px 0 100px;
  }

  .panel-img {
    display: flex;
    position: fixed;
    top: 52.7px;
    right: 0;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
    height: calc(100% - 52.7px);
    background: white;
    width: 300px;
  }

  div.panel-img img {
    width: 100%;
  }

  .info-container{
    margin: 53px 0 0 100px;
    flex-direction: row;  
    align-items: flex-start;  
  }
  .container-about{
    width: 50%;
  }
  
  .container-dev{
    width: 50%;  
  }
  
  .sitie-construction{
    margin-left: 300px;
  }

}
